body {
    background-color: #111;
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    margin: 0;
}

body > canvas {
    display: block;
    position: absolute;
    left: 50vw;
    top: 50vh;
}

.dg.ac {
    z-index: 1 !important;
}

.dg.ac .close-button {
    display: none;
}